* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.controls {
	width: 100%;
	padding: 5px 20px;
	background-color: #f68634;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.controls>[class] {
	margin-right: 3%;
	padding-top: 6px;
	padding-bottom: 6px;
}

.button {
	background-color: white;
	border: 1px solid #7e7e7e;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	color: #444;
	cursor: pointer;
	transition: background-color .25s;
}

.button:hover {
	background-color: #ededed;
}

.desc-corners {
	margin-right: 10px;
}

.max-corners {
	width: 65px;
	border-radius: 5px;
	border: 1px solid #878787;
	padding: 5px;
	align-self: center;
}

.max-corners:focus {
	outline: none;
}

.speed-cat {
	margin-left: 10px;
	vertical-align: middle;
}

#speed-cat.speed-cat {
	margin-right: 10px;
}

.title-corners {
	display: flex;
}

.infinity {
	color: #303030;
	font-size: 10px;
	text-align: right;
	display: block;
}

.data {
	font-size: 20px;
	font-weight: bold;
}

.data.speed {
	width: 80px;
}

.speed-cat {
	cursor: pointer;
}

.real-speed {
	width: 25px;
}

.cat {
	width: 100%;
	height: 200px;
	position: relative;
	display: block;
}

.cat-reverse {
	transform: scale(-1, 1);
}

.cat-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	margin: auto;
	transition: transform .2s;
}