* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.cat-section {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.controls {
	width: 100%;
	padding: 5px 20px;
	background-color: #f68634;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	box-shadow: 0px 2px 5px 0px #00000057;
	position: relative;
	z-index: 1;
}

.controls>[class] {
	padding-top: 6px;
	padding-bottom: 6px;
	padding: 6px 15px;
}

.button {
	background-color: white;
	border: 1px solid #7e7e7e;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	color: #444;
	cursor: pointer;
	transition: background-color .25s;
}

.button:hover {
	background-color: #ededed;
}

.desc-corners {
	margin-right: 10px;
}

.max-corners {
	width: 65px;
	border-radius: 5px;
	border: 1px solid #878787;
	padding: 5px;
	align-self: center;
}

.max-corners:focus {
	outline: none;
}

.speed-cat {
	margin-left: 10px;
	vertical-align: middle;
}

#speed-cat.speed-cat {
	margin-right: 10px;
}

.title-corners {
	display: flex;
}

.infinity {
	color: #303030;
	font-size: 10px;
	text-align: right;
	display: block;
}

.data {
	font-size: 20px;
	font-weight: bold;
}

.data.speed {
	width: 110px;
}

.speed-cat {
	cursor: pointer;
	width: 110px;
}

.real-speed {
	width: 25px;
	display: inline-block;
}

.time {
	margin-right: 10px;
}

.radio-time {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.cat-road {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	background: PaleTurquoise;
	box-shadow: 0 374px 255px -67px LightCyan inset;
}

.sky-sunset {
	animation: sky-sunset 5s ease-in-out 1 normal forwards;
}

.sky-sunrise {
	animation: sky-sunrise 5s ease-in-out 1 normal forwards;
}

.cloud {
	position: absolute;
	height: auto;
	left: 0;
	opacity: .9;
	transform: translate(-20vw, 0px);
	animation: cloud linear infinite normal;
}

.night {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 3;
	opacity: 0;
}

.night-sunset {
	animation: night-sunset 5s ease-in-out 1 normal forwards;
}

.night-sunrise {
	animation: night-sunrise 5s ease-in-out 1 normal forwards;
}

.ball {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80px;
	height: 80px;
}

.sun {
	border-radius: 50%;
	background: radial-gradient(circle, #ffb300 26%, #ffd438 59%, #ffffff00 72%);
	transform-origin: 100% 100vh;
	transform: rotate(0deg);
}

.moon {
	background: url('moon.png') no-repeat;
	background-size: contain;
	transform-origin: 100% 100vh;
	transform: rotate(180deg);
}

.sun-sunset {
	animation: sun-sunset 5s ease-in 1 normal forwards;
}

.sun-sunrise {
	animation: sun-sunrise 5s ease-out 1 normal forwards;
}

.moon-sunset {
	animation: moon-sunset 5s ease-out 1 normal forwards;
}

.moon-sunrise {
	animation: moon-sunrise 5s ease-in 1 normal forwards;
}

.cloud-1 {
	width: 70px;
	top: 50px;
	animation-duration: 50s;
}

.cloud-2 {
	width: 90px;
	top: 70px;
	animation-duration: 60s;
	animation-delay: 5s;
}

.cloud-3 {
	width: 110px;
	top: 90px;
	animation-duration: 70s;
	animation-delay: 15s;
}

.cloud-4 {
	width: 130px;
	top: 110px;
	animation-duration: 80s;
	animation-delay: 25s;
}

.cat {
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 160px;
	height: 160px;
	z-index: 2;
}

.cat-image {
	transition: transform .2s;
	position: relative;
	z-index: 1;
}

.cat-reverse {
	transform: scale(-1, 1);
}

.cat::before {
	content: " ";
	background: radial-gradient(#000000, #85858554);
	width: 100%;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	bottom: 5px;
	left: 0;
	opacity: .7;
}

.ground {
	background: url('ground.png') repeat-x 0 100%,
		url('background.png') no-repeat 50% 100%;
	height: 100%;
	width: 100%;
	z-index: 1;
	position: relative;
}

@keyframes night-sunset {
	to {
		opacity: 0.6;
	}
}

@keyframes night-sunrise {
	from {
		opacity: 0.6;
	}

	to {
		opacity: 0;
	}
}

@keyframes sky-sunset {
	60% {
		background: Coral;
		box-shadow: 0 450px 255px -67px steelblue inset;
	}

	to {
		background: #020e24;
		box-shadow: 0 1000px 255px -67px #0f2962 inset;
	}
}

@keyframes sky-sunrise {
	from {
		background: #020e24;
		box-shadow: 0 1000px 255px -67px #0f2962 inset;
	}

	60% {
		background: Coral;
		box-shadow: 0 450px 255px -67px steelblue inset;
	}

	to {
		background: PaleTurquoise;
		box-shadow: 0 600px 255px -67px LightCyan inset;
	}
}

@keyframes sun-sunset {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes sun-sunrise {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes moon-sunset {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes moon-sunrise {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes cloud {
	from {
		transform: translate(-20vw, 0px);
	}

	to {
		transform: translate(100vw, 0px);
	}
}